/* styles.css */

body {
    background-color: #000000;
    background-image: url('logobar.png');
    color: #e4e4e4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container, .export-container {
    background-color: #0a0909;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
    margin: 10px;
}

h1, h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f7c438;
    color: #000000;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #333333;
}

#search-result {
    margin-top: 20px;
}

